.container {
    position: relative;
    width: 617px;
    height: 910px;
    left: 0;
    right: 0;
}

body {
    text-align: center;
    width: 80%;
}

img {
    position: absolute;
    margin-left: -50%;
}